.navbar-inverse{
    
}

.parallax{
    
        
    
    min-height: 500px; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

